<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>{% if page.title %}{{ page.title }} | {{ site.title }}{% else %}{{ site.title }}{% endif %}</title>

    <!-- Bootstrap -->
    <link rel="stylesheet" href="{{ site.baseurl }}css/bootstrap-3.3.6/css/bootstrap.min.css">
    <link rel="stylesheet" href="{{ site.baseurl }}css/main.css">

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
          <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
          <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
        <![endif]-->
        <script src="{{ site.baseurl }}js/jquery.js"></script>

    {% include analytics.html %}

    <link rel="shortcut icon" href="{{ site.baseurl }}images/favicon.jpg">

    <link rel="alternate" type="application/atom+xml" title="Atom Feed" href="{{ site.baseurl }}feed/">

</head>
