<header class="row">
  <div class="col-lg-8 col-lg-offset-2">
    <h1 class="">{{site.title}}</h1>
    <p>
    <span class="reserved">char</span> name[<span class="number">13</span>] = <span class="string">"{{ site.name }}"</span>;
    </p>

    <p>
    printf(<a href="https://{{ site.source_code.server }}/{{ site.source_code.nick }}" target="_blank"><span class="string">"https://{{ site.source_code.server }}/<span class="reserved">%s\n</span>"</span></a>,nick);
    </p>


    <p>
            printf(<a href="https://{{ site.blog.nick }}.{{ site.blog.server }}" target="_blank"><span class="string">"https://<span class="reserved">%s</span>.{{ site.blog.server }}<span class="reserved">\n</span>"</span></a>,nick);
        </p>

    <p>
            printf(<a href="{{ site.baseurl }}misc/pubkey.gpg.txt" target="_blank"><span class="string">"Message me secretely<span class="reserved">\n</span>"</span></a>,PGP-key);
        </p>
        <p>
        printf(<a href="mailto:mohit@{{ site.mail.domain }}.{{ site.mail.ext }}" target="_blank"><span class="string">"<span class="reserved">%s\x40</span>{{ site.mail.domain }}<span class="reserved">\x2e\\\b</span>{{ site.mail.ext }}<span class="reserved">\n</span>"</span></a>,nick);
        </p>

    <!-- <p>
    puts(<a href="{{ site.baseurl }}misc/pubkey.gpg.txt" target="_blank"><span class="string">"5E12 9ABC C2A9 564B C048  2DF9 D327 0D10 BC71 CF75"</span></a>);
    </p> -->
  </div>

  <div id="content"></div>
   <div class="scripts">
    <script type="text/javascript" src="{{ site.baseurl }}js/svg.js"></script>
   </div>
</header>

{% include menu.html %}
