<div class="row">
  <div class="col-lg-8 col-lg-offset-2">
    <div class="menu">
      <ul>
          <li><a href="{{ site.baseurl }}">Home</a></li>
          <li><a href="{{ site.baseurl }}blog/">Blog</a></li>
          <li><a href="{{ site.baseurl }}reading-list/">Reading List</a></li>
      </ul>
    </div>
  </div>
</div>
